<h1>Edit</h1>
<%= form_for([:admin, @page]) do |f| %> 
  <%= render :partial => 'form',:locals => {:f => f} %>   
  <li class='semantic-form-margin'>
    <%= f.submit 'Save' %>
  </li>
<% end %>
                                                                   
