<h1 class='pagenav'>Create</h1>      
<%= form_for([:admin, @page]) do |f| %> 
  <%= render :partial => 'form',:locals => {:f => f} %>
  <div class='prepend-5'>
       <%= f.submit 'Create' %>
  </div>   
<% end %>
