*{
	margin:0;
	padding:0;
}

body{      
	font-size:12px;
	line-height:150%;     
	background:#F6F6F6;
	position:relative;  
	color:#333;
} 

a{cursor:pointer}
a:link { color: #5F9FE6; text-decoration: none; }
a:visited { color: #666699; text-decoration: none; }
a:hover { color: #FFFFFF; text-decoration: none; background: #5F9FE6; }
a:active { color: #FFFFFF; text-decoration: none; background: #FF9933; }


h1,h2,h3,h4{ 
	color:#333;
	font-family:'微软雅黑' arial '宋体'; 
}

h3{               
	font-size:18px;
	border-bottom:1px solid #ccc;
	margin-bottom:10px;   
	padding:5px 10px 5px 0px;
}


/* content */

#main_container{  
	position:relative;
	width:100%;
}              

.main_content{
	border-right:1px solid #ccc;
}

.container{   
   padding:20px 0;  
}

/*--- nav ----*/
   
#system{    
	color:#fdfdfd;       
	padding:10px;
	height:63px; 
	background:#153345;
}  

.login{
	float:right;
}

#system a{
	color:#fff;
}              

.nav{    
	margin-top:7px;
	margin-left:50px; 
	clear:both;
	padding:5px 20px;           
}    

.logo{
    width:200px;
}      

.logo h1{margin:0;color:#fff;}

.nav ul li a{        
	color:#D6D9D3;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-top-right-radius:3px;
	display:block;
	padding:5px 10px;
	font-size:12px;
	background:#4B4B4B;
	margin-right:2px;
	float:left;
} 

#system .nav ul li a:hover{ 
	color:#333;    
	text-decoration: none; 
	background:#F6F6F6;
}

#system .nav li.current a{ 
	font-weight:bold;
	color:#333;
	background:#F6F6F6;
} 
     
/*-- table --*/  

table{  
	width:98%;
	border:1px solid #DEDEDE;
	border-bottom:none;
	background:#fff;
}   

table.grid tr td{
	border-bottom:1px solid #C0D7E5;
}  

table.grid td {
	color: #565770;
	padding: 4px 6px;
	border-right:1px solid #dedede;
}  

table.grid thead tr th, table.grid tfoot tr th {
	background:#EEEEEE;
	color:#333;
	font-size: 12px;
	padding: 4px;
}   

table.grid thead tr .header {
	background-image: url(/images/bg/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;  
	height:10px;
}        

table.grid tbody td { 
	text-align:center;
	color: #666;
	vertical-align: top;
}  

table.grid tbody td.text-left { 
	text-align:left;
}

table.grid thead tr .headerSortUp {
	background-image: url(/images/bg/asc.gif);
}
table.grid thead tr .headerSortDown {
	background-image: url(/images/bg/desc.gif);
}    

table.grid thead tr .headerSortDown, table.grid thead tr .headerSortUp {
	background-color: #a1350b;
	color: #ffffff;
}

/* --- btn ---*/
a.btn{        
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	color:#fff;
	text-align:center;      
	display:block;
	width:60px;      
	margin:10px;
	padding:5px;     
	font-size:14px;
	background:#153345;
}

.flickr_pagination {
  margin:10px;
  text-align: center;
  padding: .3em; }
  .flickr_pagination a, .flickr_pagination span {
    padding: .2em .5em; }
  .flickr_pagination span.disabled {
    color: #AAA; }
  .flickr_pagination span.current {
    font-weight: bold;
    color: #FF0084; }
  .flickr_pagination a {
    border: 1px solid #DDDDDD;
    color: #548BC9;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #548BC9;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  .flickr_pagination .prev_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .prev_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }


/*-- globle ---*/
.text-left{
	text-align:left;
}  

.section{    
	clear:both;
	margin:10px 0;
}
      
.center{
	text-align:center;
} 

.gray{
	color:#666;
	font-size:80%;
}
/* --- flash -----*/ 
#flash-message{    
	margin:0 auto;
	width:400px;
	position:relative;
	top:-50px; 
	}
	
/*  page  */	
td.title{
	font-size:18px;
	font-weight:bold;
}

tr:nth-child(even)		{ background-color:#F2F5F9; }

.box{      
	width:320px;
    float:left;
    padding:10px;
	margin:5px;
	background:#E6E6E6;
}
/* result */      

.info_grid{    
	width:500px;  
	margin:0 auto;
	overflow:auto;
}             
           
#row{  
   padding:10px; 
}     

.border{      
	margin:10px 0; 
	padding:5px;
	background:#EFEFEF;
}    


#rows td{  
	cursor:pointer;  
	border-bottom:1px dotted #ccc; 
} 

div.info_item{
	padding:5px;
}   

div.time{   
	color:#999;
	width:60px;
	font-size:80%;
}

#results{           
	width:100%;
	overflow:auto;
}

.row_item{
	color:#D3D3D3;
}

.tip{
	color:#999;
}

table.grid tr.highlighted td div.info_item{
	background:#FFFDD0;
}

.grid td.name{
	font-family:'微软雅黑' arial '宋体';   
	font-size:12px;
	padding-left:20px;
	color:#414141; 
	font-weight:bold;
}

.row_content{
	height:380px;
	overflow:auto;
}

/* table */
    

.info_grid{    
	width:500px;  
	margin:0 auto;
	overflow:auto;
}             
           
#row{  
   padding:10px; 
}     


table#detail{    
   border-left:1px solid #ccc; 
   background:#efefef;
   margin:10px 0;
}

div.info_item{  
	overflow:hidden; 
	height:15px;
	width:120px;
	padding:0;
	margin:0;    
	border:none;    
}
    
table.grid thead tr th, table.grid tfoot tr th {  
	background:#EFEFEF;
	border-bottom:1px solid #E3E3E3;
	color:#333;
	font-size: 14px;  
	font-weight:normal;
	padding: 5px;  
	text-align:left;
}

table.grid tbody td { 
	color: #666; 
	vertical-align: top; 
	border-bottom:1px dotted #CCCCCC;
} 

table.big{
	width:100%;
}

table.big tbody td {  
	color: #666;     
	padding:5px;
	vertical-align: top; 
	border-bottom:1px dotted #CCCCCC;
}        

.tablenav{  
	margin:10px;
	text-align:center;
} 

table.grid td.title a{  
	color:#0099FF;
	font-family:'微软雅黑' arial '宋体';   
	font-size:14px;
} 

table.grid td.title span{
	margin-left:10px;
	padding:0; 
	color:#999999;
}    

table.grid tbody td.opt a { 
	margin-right:10px;
}  

/* --- flash -----*/ 
#flash-message{    
	margin:0px auto 10px;
	width:400px;
	position:absolute;
	top:5px;
	left: 220px;
}       
