*{
	margin:0;
	padding:0;
}            

img{
	border:0;
}    

p{
	margin:10px 0;
}   

h1,h2,h3,h4{ 
	color:#666;
	font-family: 'Microsoft YaHei' '微软雅黑' '雅黑' arial '宋体';  
}

h3{
	padding:5px 0px;   
	font-size:14px;
	border-bottom:1px solid #E1E8F0;
}

header,section,footer{
	display:block;
}   

ul li{       
	list-style:none;
}

body{       
	font-family:Arial, sans-serif;
	font-size:12px;     
	color:#333; 
	background:#F0F4F4;
}                    

div.field {
  margin: 10px 0;
  padding: 10px;
}

.submit{
	background: url(/images/bg/btn-short.png);     
	height:26px;
	width:100px;
	color: #fff;
	font-size:12px;
	letter-spacing:4px;
	cursor: pointer;  
	margin-bottom:5px;
	border:0 none; 
	margin-left:10px;     
}

abbr{ color:#cc0000;padding-top:.2em;}

form label{
	font-size:13px;
	display:inline;
}  

.text_input{
	width:250px;
	height:15px;
}

div.qustion_label{
	margin-bottom:10px;
}

div.question p{
	margin:5px 0;
}



/* ---- page nav ----*/
#page_nav{
	height:20px;
   	padding:5px 10px 15px 0px;  
   *padding:5px 10px 0px 0px;
	margin:10px 0px 15px;   
	border-bottom:1px solid #ccc;    
}

#page_nav span{       
	float:left;
	color:#333;   
	font-size:1.9em; 
	line-height:28px; 
	font-weight:bold;
}   

.page_guide{ 
	height:12px;     
	padding:10px 0;
}               

#page{
	margin:10px 40px;
}

#preview{     
	font-size:14px;
	padding:10px;     
	border:1px solid #FFCC00;
	background:#FFFF99;
}

#footer{           
	margin:20px 0px;
	text-align:center;
}  

#footer span{
	font-size:10px;
	color:#999999;
}    


a{color:#3F6A97;text-decoration:none;}

.ag:link {
	color: #fff;  
	background:#79B0F3;
	border:1px solid #3D88CF;
	text-decoration: none; 
	font-size:10px;
	padding:3px 5px;
}       

a.ag:hover {
	text-decoration: none;
	color: #fff; 
	background:#0099FF; 
}
.ag:active {
	text-decoration: none;   
	color: #fff;  
}

.ag:visited {            
	color: #fff;  
	background:#79B0F3;
	border:1px solid #3D88CF;
	text-decoration: none; 
	font-size:10px;
	padding:3px 5px;
}

/*  huizong */

#huizong{
	width:100%;
}             

#huizong td{
	text-align:center;
}

#huizong .percentage {
	display:block; 
	float:left;
	background:green;
	margin-right: 5px;
}

.chart {
	background: url(/images/icons/stats.png) no-repeat top left ;
	padding-left: 16px;
}

/*  grid table */

table.grid thead tr th, table.grid tfoot tr th {  
	border-bottom:1px solid #E3E3E3;              
	border-top:1px solid #E3E3E3; 
	background:#F4F8FF;
	color:#0054B4;
	font-size: 12px;  
	font-weight:bold;
	padding: 5px;  
	text-align:center;
}

table.grid tbody td { 
	color: #666; 
	vertical-align: top; 
	border-bottom:1px solid #efefef;
} 

table.big{
	width:100%;
}

table.big tbody td {  
	color: #6B7C70;     
	padding:5px;
	vertical-align: top; 
	border-bottom:1px solid #efefef;
}        

.tablenav{  
	margin:10px;
	text-align:center;
} 

table.grid td.title a{  
	color:#0099FF;
	font-family:'微软雅黑' arial '宋体';   
	font-size:14px;
} 

table.grid td.title span{
	margin-left:10px;
	padding:0; 
	color:#999999;
}    

table.grid tbody td.opt a { 
	margin-right:10px;
}

#spinner{
	display:none;
}

.box{
	background:#fff;
}

.box .title{
	color:#666;
	padding:10px 0;
	font-size:14px;
	font-weight:bold;
}

.name{  
	font-weight:bold;
	color:#024373;
}

.paginate{           
	margin:10px;
	text-align:center;
}