/*
    Name: Sandsorad online form
    Date: March 2010
    Description: For online form creation
    Version: 1.0
    Author: Stephen/Yuanyi
*/


/***** Global *****/

*{
	margin:0px;
	padding:0px;
}

body{  
	color:#666666;
	font-family:"Lucida Grande","Geneva","Arial","Verdana","sans-serif";
	font-size:12px;
	text-align:left;
	word-spacing:1px; 
	background:#EEEEEE;

}            

header,section,footer{
	display:block;
}

footer {
	height: 25px;
}  

/* ---- href ------*/    
a {
	font-size: 12px;
	color:#333;
}    

a:link {
	color: #333;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
	color: #0099FF; 
}
a:active {
	text-decoration: none;
	color: #0099FF;
}
a:visited { 
	text-decoration: none;  
	color: #333;
}

.ag:link {
	color: #0099FF;
	text-decoration: none;
}
a.ag:hover {
	text-decoration: none;
	color: #fff;  
	background:#0099FF;
}
.ag:active {
	text-decoration: none;   
	color: #fff;  
	background:#0099FF;
}
.ag:visited {
	text-decoration: none;
	color: #0099FF;
}     

.container{ 
	position:relative;
}


/* Headings */                  
h1,h2,h3,h4{ 
	color:#333;
	font-family:'微软雅黑' arial '宋体'; 
}
h2 {font-size: 1.571em} /* 22px */
h3 {font-size: 1.429em} /* 20px */
h4 {font-size: 1.286em} /* 18px */
h5 {font-size: 1.143em} /* 16px */
h6 {font-size: 1em} /* 14px */ 


ul li{
	list-style:none;
}

/* ---- header -----*/

.header{       
	padding:5px 10px;
	height:18px;
	margin-bottom:10px;
	background:#fff;
	border-bottom:1px solid #ccc;
}                     

.logo{ 
	float:left;
	width:200px;
	}

nav.login{
	float:right;
} 

/* ----- header ---- */ 

.pagenav{
   border-bottom:1px dotted #ccc;
   margin-bottom:10px;          
}

header h1{
	width:200px;
	font-size:18px; 
	padding:10px;
   
}     

#main_container{
	margin:0 auto;
	width:699px;   
}  

.content{          
	background:#fff;
	padding:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
}    

footer{  
	text-align:center;
	padding:10px 20px;
}


section.form_list ul li{
	margin:10px;
}

/* ---   form -----*/              
#form{       
	background:#FDFDFD;
	min-height:400px;
	position:relative;
	overflow:auto;
	margin:0px 20px;
	padding:10px 20px;
	border:1px solid #eee;     
}               


* html #form{
	height:400px;
}

#form p,.setting_form p{
	margin-bottom:10px;
}

#form_wrapper{  
}   

.form_oprate{      
	background:#69ACEC;
	height:30px;
	padding:5px 10px;
} 

.form_preview{  
	padding:5px 10px; 
	border-top:1px solid #eee;
	height: 25px;
}


.field_form { padding: 10px; margin-top: 10px;}

div.field {
  margin: 10px 0;
  padding: 10px;
}

div.edit:hover {
  background-color: #FDF2C6;
}

.edit{
	cursor: move;
}        

.opration{
	float:right;
}   

.placeholder{
	background:#eee;  
	height:60px;
}          

.q_title{     
	margin:0px; 
	padding:0px;
}   

.prompt{
	color:#eee;
} 


/* ----  form field setting -----*/
#form_title{     
	height:30px;
	font-size:18px;
	font-weight:bold;
}

#form_description{
	background:#F6F6F6;
	font-size:12px;  
	width: 580px;
  	height: 46px;
  	padding: 2px 5px;
} 

#form_description:hover,#form_description:focus{
	background:#fff;
}  

.new{
	float:left;
}

.setting{
	float:right;
}

/* --- result ------ */
#result{
 	width:800px;
	padding:10px;  
	margin:10px 0px;
	position:relative;
	height:520px;        
	overflow:auto;   
}    

/*  ------ form show cotainer -------- */

#form_container{ 
	padding:10px;
	margin:0 auto;
	width:45em;
	background:#fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
} 

/* ---- input setting ------*/

label{
  color:#4C4C4C;  
}

.input_options input[type=text]{
	margin:0 5px;
}   
    
.question p{
	margin:5px 0;
}

#saving {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	background-color:#FAD163;
	color:#000000;
	font-weight:bold;
	padding:0.4em 0.8em;
	position:absolute;
	right:50%;
	top:0;
	z-index:2;
}
    
/* --- table ---*/
table{    
	border:1px solid #ccc;
	width:100%;
}  

table thead tr th, table tfoot tr th {
	background:url(/images/bg/blue-grad.png);    
	font-size: 14px;
	padding: 4px;
}


table td{  
	border-bottom:1px solid #eee;        
	font-size:10px;
	color: #565770;
	padding: 7px 7px 5px;
	vertical-align: top;
	height:35px;
}

.action a{
	font-size:12px;
}  

table td a{
	font-size:12px;
}     

table tbody tr:hover;{
	background:#000;
}            
         
.tablenav{    
	height:40px;
	clear:both;
} 

.left{float:left;padding:10px .3em;}
.right{float:right;}  

/* for juhuiyi */

.submit{
	font-family:'微软雅黑' arial '宋体';   
	background: url(/images/bg/btn-short.png);     
	height:26px;
	width:100px;
	color: #fff;
	font-size:12px;
	letter-spacing:4px;
	cursor: pointer;  
	margin-bottom:5px;
	margin-left:50px; 
	border:0 none;      
}    


input[type='text'],textarea{
	padding:2px;
	background:#F6F6F6;
	border:1px solid #ccc;  
}

input.inputFocus {
	background: #fff;
}

.q_title{
	font-weight:bold;
} 

.red{
	color:red;
}  

.input{
	margin:10px 0;
}   

div.input p{
	margin-bottom:0px;
}

.desc{
	margin-left:10px;
}  

.error{
	color:red;
}     

.required{
	color:#CC004A;
}    

#spinner{
	display:none;
}

/* pagination*/


.flickr_pagination {   
  margin:10px;
  text-align: center;
  padding: .3em; }
  .flickr_pagination a, .flickr_pagination span {
    padding: .2em .5em; }
  .flickr_pagination span.disabled {
    color: #AAA; }
  .flickr_pagination span.current {
    font-weight: bold;
    color: #FF0084; }
  .flickr_pagination a {
    border: 1px solid #DDDDDD;
    color: #0063DC;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063DC;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  .flickr_pagination .prev_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .prev_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }



/* ** ** paragraph styling ** ** */
p {margin:0 0 1.52em;}
p img.left {float:left;margin:1.52em 1.52em 1.52em 0;padding:0;}
p img.right {float:right;margin:1.52em 0 1.52em 1.52em;}

/* ** ** forms ** ** */
form fieldset {/*-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius:5px;*/ padding-top:5px; padding-left:5px; border:1px solid #ccc; }
form fieldset legend {font-size:1.4em; padding:0 5px;}
form input[type=text], form input[type=email], form input[type=url] {/*-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius:4px;*/ height:14px; margin-bottom:5px; border:1px solid #ccc; padding:4px 0 1px 5px;}