/*
	UTILITY STYLES
*/				  				  
					  				  
.floatLeft 									{ float: left; margin-right: 10px;}
.floatRight									{ float: right; }
.clear 										{ clear: both; }
/*
	PAGE STRUCTURE
*/
#page-wrap 									{ width: 500px; margin: 25px auto; position: relative; min-height: 500px;
											  background: url(/images/slider/bg.png) top center; }


/*
	TYPOGRAPHY
*/
blockquote									{ padding: 0 20px; margin-left: 20px; border-left: 20px solid #ccc; font-size: 14px; 
									  		  font-family: Georgia, serif; font-style: italic; margin-top: 10px;}

/*
	SLIDER
*/
.slider-wrap								{ width: 510px; clear:both;}
.slider-wrap img {border:5px solid #DDD;}		
.stripViewer .panelContainer 
.panel ul									{ text-align: left; margin: 0 15px 0 30px; }
.stripViewer								{ position: relative; overflow: hidden; width: 510px; height: 400px; }
.stripViewer .panelContainer				{ position: relative; left: 0; top: 0; }
.stripViewer .panelContainer .panel			{ float: left; height: 100%; position: relative; width: 510px; }
.stripNavL, .stripNavR, .stripNav			{ display: none; }
.nav-thumb 									{ border: 1px solid black; margin-right: 5px; }
#movers-row									{ margin: 0px 0 0 62px; }
#movers-row div								{ width: 100px; float: left; }
#movers-row div a.cross-link 				{ float: right; }
.photo-meta-data							{ background: url(/images/slider/transpBlack.png); padding: 10px; height: 40px; margin: 5px; 
											  margin-top: -70px; position: relative; z-index: 9999; color: white; }
.photo-meta-data span 						{ font-size: 13px; }
.cross-link									{ display: block; width: 72px; margin-top: -15px; 
											  position: relative; padding-top: 15px; z-index: 9999; }
.active-thumb 								{ background: transparent url(/images/slider/icon-uparrowsmallwhite.png) top center no-repeat; }






