<h2>找回密码</h2>

<%= form_tag reset_password_path do %>
 <p> 
   <label for="email"><%= 'Email' %></label>
   <%= text_field_tag :email %><br />
 </p>
 <p><span class="tip">请输入你的注册email</span></p>
 <p><%= submit_tag '找回',:class => 'submit' %></p>
<% end %>
