<div class='prepend-5' style='text-align:center'>
  

<p>抢答网让您可以轻松创建在线表单，调查问卷，收集用户反馈。操作界面类似Google表单，让表单的创建如行云流水，简洁干净的问卷页面，让用户爱上问答!</p>
<h3>问卷编辑</h3>
<p>问卷编辑所见即所得,你编辑的就是用户最终看到的.</p>
<p class='haibao'>
<img src='/images/screenshots/edit.jpg' />
</p>
<h3>问题管理</h3>
<p>问题类型支持"单行文字/大段问题/多选一/多选多/下拉列表",可设置是否为必填问题,可拖动问题来排序.问卷支持复制问题,减少你的工作量.</p>
<p class='haibao'>
<img src='/images/screenshots/add.jpg' />
</p>
<h3>结果显示</h3>
<p>双击结果条目可显示详细,结果可导出为Excel或文本文件.</p>
<p class='haibao'>
<img src='/images/screenshots/result.jpg' />
</p>
<h3>回应提醒/表单外嵌</h3>
<p>系统默认有新回应时会发提醒邮件到你的注册邮箱,你可以选择不发.你可设置用户填写回应成功后的感谢信息.<br />
你可通过把问卷地址发给你的联系人或在你的自己的网站页面嵌入问卷来邀请别人回应.</p>
<p class='haibao'>
<img src='/images/screenshots/notify.jpg' />
</p>
<p class='haibao'>
<img src='/images/screenshots/insert.jpg' />
</p>

<p>&nbsp;</p>
<p style='text-align:center;'><a href='/demo' class='btn'>试用一下<span>(无需注册)</span></a></p>
<p>&nbsp;</p>
</div>