<div class='box'>
  <span class='title'>小提示</span><br />
  需要组织活动，销售门票？<br />
     <a href="http://www.51qiangzuo.com">试试我们新的抢座网吧！</a>
</div>
<div class='box'>
  抢答所有的服务都是免费的,如果您觉的抢答对您有所帮助,请告诉你的朋友,帮助推广抢答!
  <ul class='share'>  
    <li><a href="http://v.t.sina.com.cn/share/share.php?c=spr_web_bd_youku_weibo&url=http://www.51qiangda.com&title=抢答网-问卷调查,就用抢答!&source=抢答网&sourceUrl=http://51qiangda.com&content=抢答网,一款简单好用的问卷调查工具,我用过,觉得很好，推荐下!" class='sprite-sina sprite' target ='_blank'>新浪微博</a></li> 
    <li><a href="http://share.renren.com/share/buttonshare.do?link=http://www.51qiangda.com&title=抢答网,一款简单好用的问卷调查工具,我用过,觉得很好，推荐下!" class='sprite-renren sprite' target ='_blank'>人人网</a></li>
    <li><a href="http://www.douban.com/recommend/?url=http://www.51qiangda.com&title=抢答网,一款简单好用的问卷调查工具,我用过,觉得很好，推荐下!" class='sprite-douban sprite' target ='_blank'>豆瓣网</a></li>
    <li><a href="http://www.kaixin001.com/repaste/share.php?rurl=http://www.51qiangda.com&rcontent=抢答网,一款简单好用的问卷调查工具,我用过,觉得很好，推荐下!&rtitle=抢答网,一款简单好用的问卷调查工具" class='sprite-kaixing001 sprite' target ='_blank'>开心网</a></li>
    <li><a href="http://t.163.com/article/user/checkLogin.do?link=http://www.51qiangda.com&source=抢座网&info=http://www.51qiangda.com" class='sprite-163 sprite'>网易微博</a></li>
  </ul>
</div>