<div class='box'>
  <span class='title'>Tips</span><br />
  Need organize events？<br />
  Try <a href="http://www.51qiangzuo.com">QiangZuo now！</a>
</div>
<div class='box'>
  ThunderSurvey is a free service, help us by telling your friends!
  <ul class='share'>
  </ul>
</div>