<%= form_tag password_form_path(@form), :class => 'conforge' do %>    
  <p>
    <label>此表单需要验证，请在下方输入访问密码</label><br /><br />
    <%= text_field_tag :password, '', :size => 40 %>
  </p>
  <p>&nbsp;</p>
  <p><%= submit_tag '提交',:class => 'submit' %></p>  
<% end %>